/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    height: 100%;
background-image: url('../images/stuck.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
 

font-family: 'Numans', sans-serif;
}
.bg{ 
    background: red;

}
a{      
    text-decoration: none !important;
    padding: 8px 16px;
    background:#6575ac;
    color: #fff;
    border-radius: 5px;
    
}
a:hover{
    background: royalblue;
    color: #fff;
}
.row{

    height: 100%;
   
    background-color: rgba(0,0,0,0.7) !important;
    border-radius: 10px; 
}
.bttn{
    color: #fff;
    background: #6575ac;

}
.bttn:hover{
    background: royalblue;
    color: #fff;
}
.anim{
    animation-name: trail;
    animation-duration: 4s;
    
}
@keyframes trail{
    0%{opacity: 0;}
    100%{opacity: 100;}
}
h2{
    color:#fff;
    font-size: 50px;
    font-weight: 600;
    
}

